@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1 {
    color: rgb(68, 5, 65);
    font-family: 'pacifico', cursive;
    ;
}


header {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(23, 14, 37));
    font-size: 25px;
    padding: 15% 10%;
    margin-top: 3%;
}

header h1 span {
    color: rgb(75, 35, 112);
    font-family: "Pacifico", cursive;
    font-size: 90px;
    padding-left: 25%;
    padding-right: 10px;
}

header h1 span:hover {
    color: rgb(233, 8, 83);
}