{%extends "base.html"%}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid mb-4 pb-4" style="height: 100%;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4 pt-2 ">
            <div class="pb-2">
                {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="" class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 200px;">
            {% else %}
            <img src="https://source.unsplash.com/1600x900/?user,profile" alt="" class="d-flex justify-content-start rounded-circle mb-1 img-fluid mr-1" style="width: 150px;">
              {% endif %}
                <h4> <span class="font-weight-bold"> Username:</span>  {{user.username}} </h4>
        <p> <span class="font-weight-bold"> Email:</span>  {{user.email}} </p>
        <p> <span class="font-weight-bold"> Bio:</span> {{ user.profile.bio}}  </p>
        <p> <span class="font-weight-bold"> Neighborhood:</span> {{ user.profile.neighbourhood.name}}  </p>
        <p> <span class="font-weight-bold"> Location:</span> {{ user.profile.neighbourhood.location}}  </p>
        <p> <span class="font-weight-bold"> Country:</span> {{ user.profile.neighbourhood.country.name}}  </p>
        <button class="btn btn-md btn-outline-info font-weight-bold" data-toggle="modal" data-target="#profile"> Edit Profile</button>
        <button class="btn btn-md btn-outline-info font-weight-bold" data-toggle="modal" data-target="#neighborhood"> New Neighbourhood</button>
        </div>
        <hr>
       
        
    </div>
    <!-- empty div -->
    <div class="col-lg-2"></div>

  </div>
</div>


</div>
{% endblock %}